@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	background: transparent;
	width: 0.4rem;
	height: 0.25rem;
	border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgb(6, 59, 233);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(6, 59, 233);
}

::selection {
	@apply text-white bg-blue-600 rounded-xl;
}

::-moz-selection {
	@apply text-white bg-blue-600 rounded-xl;
}
